@media (min-width: 992px) {
    .navbar-nav .nav-item .nav-link::before {
        position: absolute;
        content: "";
        margin: 0 auto;
        width: 0;
        height: 2px;
        transition: all .3s ease;
        right: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
        background-color: #ad641d;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: #ad641d;
        font-weight: 700;
    }

    .navbar-nav .nav-item:hover .nav-link {
        color: #ad641d;
    }

    .navbar-nav .nav-item .nav-link:hover::before {
        width: 100%;
    }

    figure:hover {
        transform: scale(1.05);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .team figure:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    figure figcaption p {
        line-height: 30px;
        letter-spacing: 1px;
        min-height: 120px;
    }
    .team figure:hover .feature-image img {
        transform: scale(1.2);
    }
    .team figure:hover h3 {
        font-size: 22px;
    }
    
    .founder-team:hover {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
    .founder-team:hover ul {
        opacity: 1;
        bottom: 20%;
    }
    .feature .col-lg-4:hover .button {
        opacity: 1;
        top: 80%;
    }
    .contact-from:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 0 15px 10px;
        background-color: #fff;
        border-radius: 15px;
    }
  
}

@media (max-width: 1399px){
    .height {
        height: 90px;
    }
}

@media (max-width: 1199px) {
    .social-details li a p {
        white-space: nowrap;
    }
    figure figcaption h3 {
        font-size: 22px;
    }

    .team p {
        height: 150px;
    }
}

@media (max-width: 991px) {
    .form-section .col-lg-6 {
        padding: 15px 0;
    }
    .contact-from {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 0 15px 10px;
        background-color: #fff;
        border-radius: 15px;
    }
    .point-details {
        margin-top: 40px;
        padding-top: 24px;
    }
    .feature .button {
        opacity: 1;
        position: relative;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        margin: 40px 0;
    }
    .solution p {
        font-size: 20px;
        margin-bottom: 15px;
        width: auto;
    }
    .height {
        height: auto;
    }
    .other-banner h1 {
        font-size: 55px;
    }
    .other-banner {
        padding-bottom: 100px;
    }
    .about figure {
        padding: 20px 20px;
        text-align: center;
    }
    .service .row{
        flex-direction: column-reverse;
        text-align: center;
    }
    .founder-team {
        margin-bottom: 30px;
    }
    .social-icons ul {
        bottom: 20%;
        opacity: 1;
    }
    .founder-team {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
    section {
        padding: 50px 0;
    }
    .keepBooking .col-lg-6:last-child {
        text-align: center;
    }

    section.keepBooking.taxation .row {
        flex-direction: column-reverse;
        text-align: center;
    }

    .team p {
        height: auto;
    }

    .team figure {
        text-align: center;
    }

    .team .feature-image {
        margin: auto;
    }

    div#navbarNav {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 122px;
    }
    ul.navbar-nav {
        max-width: 720px;
        margin: auto;
        padding: 0 15px;
    }
    .navbar-nav .nav-item:not(:last-of-type) {
        padding-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .navbar-nav .nav-item .nav-link {
        padding: 10px 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler{
        border: none;
    }
}

@media (max-width: 767px){
    ul.navbar-nav {
        max-width: 540px;
    }
    .banner h1.text-white {
        font-size: 45px;
    }
    figure {
        padding: 10px 0;
    }
    .footer h2.text-white {
        font-size: 40px;
    }
    .btn_1 {
        font-size: 14px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 575px){
    .contact-from {
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
    }
    .contact-from {
        padding: 0 15px;
    }
    .other-banner h1 {
        font-size: 45px;
    }
    .other-banner {
        padding-bottom: 80px;
    }
    section {
        padding: 30px 0;
    }
    .keepBooking h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    .footer h2.text-white {
        font-size: 32px;
    }
    .footer {
        min-height: 36vh;
        padding-bottom: 0px;
    }
    #myBtn {
        bottom: 20px;
        right: 15px;
        font-size: 14px;
    }
}

@media (max-width: 375px){
    .social-details li a strong {
        min-width: 0;
    }
    .social-details li a p {
        white-space: nowrap;
        font-size: 14px;
    }
    .banner h1.text-white {
        font-size: 36px;
    }
    .feature-image {
        height: 52px;
    }
    .footer h2.text-white {
        font-size: 24px;
    }
    .logo {
        width: 150px;
    }
    div#navbarNav {
        top: 104px;
    }
}