*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
section{
    padding: 80px 0;
}
.btn_1{
    background-color: #fcaf3b;
    padding: 12px 30px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
.navbar-nav .nav-item:not(:last-of-type){    
    padding-right: 15px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 500;
    position: relative;
}
.navbar-nav .nav-item .nav-link::before{
    position: absolute;
    content: "";
    margin: 0 auto;
    width: 0;
    height: 2px;
    transition: all .3s ease;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-color:#ad641d;
}
.navbar-nav .nav-item .nav-link:hover::before{
    width: 100%;
}
.navbar-nav .nav-item:hover .nav-link{
    color: #ad641d;
}
.navbar-nav .nav-item .nav-link.active{
    color: #ad641d;
    font-weight: 700;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/banner.jpg);
    min-height: calc(100vh - 122px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner h1.text-white{
    font-size: 55px;
    margin-bottom: 20px;
}
.banner p.text-white{
    margin-bottom: 20px;
}
.feature-image {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure figcaption h3 {
    margin: 20px 0;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
}
figure figcaption p{
    line-height: 30px;
    letter-spacing: 1px;
}
figure{
    padding: 20px;
    transition: 0.3s ease-in-out;
}
figure:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}
.keepBooking{
    background-color: #ededed;
}
.keepBooking h2{
    font-size: 46px;
    color: #2b2b2b;
    margin-bottom: 30px;
}
.keepBooking p{
    line-height: 30px;
}
.service{
    background-color: #14171c;
}
.team{
    transition: ease-in-out 0.3s;
}

.team p{
    letter-spacing: 0;
    margin: 20px 0;
    height: 100px;
}
.team h3{
    font-size: 16px;
    margin: 0;
    transition:all ease-in-out 0.5s;
}
.team .feature-image {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.team .feature-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all ease-in-out 0.3s;
}
.team figure:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}
.team figure:hover h3{
    font-size: 22px;
}

.team figure:hover .feature-image img{
    transform: scale(1.2);
}
.work-together{
    min-height: 50vh;
    background-color: #14171c;
    text-align: center;    
    padding-bottom: 200px;
}
.work-together h2.text-white {
    font-size: 55px;
    margin-bottom: 20px;
}